
header {
    text-align: center;
}

.filtersection {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.tooltip {
    text-align: center;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    font: 10px sans-serif;
    background: black;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}

.horizontal-padding-right {
    padding-right: 12px;
}

.horizontal-padding-left {
    padding-left: 12px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

i.fa-sun-o {
    font-size:2.5em; color:#ffd700; position:relative; top:8px;
}

i.fa-moon-o {
    font-size:2.5em; color:#7f7fbf; position:relative; top:8px;
}